@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://awv3node-homepage.surge.sh/build/assets/stars.svg");

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular")
      format("svg");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff")
      format("woff"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf")
      format("truetype"),
    url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-size: cover;
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  background-color: #fff4e4 !important;
  /* background-color: #edf0f5 !important; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "proxima_nova_rgregular";
}

#addItemForm {
  vertical-align: middle;
  width: 300px;
  padding: 0px 20px 10px 20px;
  margin-left: -160px;
  margin-right: auto;
  margin-bottom: 20px;
  height: auto;
  border-radius: 10px;

  align-items: center;

  background-color: #f8f9fc !important;
}

input::placeholder,
textarea::placeholder {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #8c98a8;
  font-size: 1em;
  border-radius: 0px;
  width: 70%;
}

/* on focus placeholder */

input:focus::placeholder,
textarea:focus::placeholder {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0a0d13;
  font-size: 1em;
  border-radius: 0px;
}

input:focus:focus::placeholder,
textarea:focus:focus::placeholder {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #8c98a8;
  border-radius: 0px;
}

input:not([type="checkbox"]),
#addImageHeader {
  letter-spacing: -0.05vmax;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "proxima_nova_rgregular";
  font-size: 0.875em;
  width: 93%;
  max-width: 195%;
  height: 100%;
  padding-left: 10px;
  padding: 10px;
  border-radius: 0px;
  /* padding: 0px 0px 0px 15px; */

  background: transparent;
  outline: none;
  color: #565c73;

  border: solid 1px #a0acbd;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input:focus {
  border-radius: 0px;
  background: #c5cdd9;
  color: #0a0d13;
}
textarea {
  letter-spacing: -0.05vmax;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 2.5px;
  margin-left: 0px;
  height: 30px;
  /* width: 95%; */
  max-width: 95%;
  min-width: 95%;

  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize: none;
  background: transparent;
  outline: none;
  border: none !important;
  color: #565c73;
  font-family: "proxima_nova_rgregular";
  font-size: 0.875em;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  background: #c5cdd9;
  color: #0a0d13;
}
#nameInput {
  border: solid 1px #a0acbd;
  margin-top: -20px;
  border-radius: 0px;

  margin-bottom: 15px;
  line-height: 0.875em;
  padding-top: 10px;
  padding-bottom: 5px;

  height: 0.5em;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "proxima_nova_rgregular";
  font-size: medium;
  overflow: auto;
  resize: none;
}

h5 {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: -40px;
  padding: 1em;
  /* 
  border: solid 1px #a0acbd; */
}

#headerGroup {
  letter-spacing: -0.05vmax;
  font-size: 1.5em;
  text-align: center;
  color: white;

  font-family: "proxima_nova_rgregular";
  margin-left: -20px;
  margin-right: auto;
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  min-width: 250px;
  max-width: 400px;
  align-items: center;
  width: 300px;
  padding: 15px 20px 10px 20px;
  /* border: solid 1px transparent; */
  border-top: none;
  border-bottom: none;
  /* background-color: #3d2f9d; */

  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#headerText {
  letter-spacing: -0.05vmax;
  position: relative;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  text-shadow: 2px 2px 4px #00000020;
  font-family: "proxima_nova_rgregular";
  border-radius: 0px;
}

#submitButton {
  font-family: "proxima_nova_rgregular";
  font-size: large;
  font-weight: 1000;
  color: #b3aca7;
  text-shadow: 2px 2px 4px #00000020;
  outline: none;
  cursor: pointer;
  padding: 0.5em;
  /* margin-bottom: 0.5em; */
  margin-left: -5px;
  margin-top: 20px;
  border-radius: 20px;
  /* width: 200px; */

  border-top: none;

  color: #ffffff !important;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border: 0.125px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  display: inline-block;
  transition: all 0.4s ease 0s;
}

#submitButton:hover {
  padding: 0.5em;
  /* margin-bottom: 1em;
  margin-left: 10px;
  margin-top: 5px; */
  color: #ffffff !important;
  text-shadow: 2px 2px 4px #00000020;
  font-weight: 1000;
  background-image: linear-gradient(-60deg, #66a6ff, #66ebf5) !important;
  border: 5px solid #66ebf5;
  transition: all 0.4s ease 0s;
}

#WelcomeHeader {
  margin-top: 200px;
  font-family: "proxima_nova_rgbold";
  font-size: 7vmax;
  letter-spacing: -0.35vmax;
  line-height: 0.8em;
  margin-bottom: 0;
  color: Black;
}

#WelcomeSubHeader1 {
  font-size: 2vmax;
  font-family: "proxima_nova_rgregular";
  letter-spacing: -0.05vmax;
  font-weight: bolder;
  max-width: 100%;
  min-width: 50%;
  color: #0091ad;
}

#WelcomeMessage {
  position: -webkit-sticky; /* Safari */

  position: sticky;
  z-index: 3;
}

#start {
  letter-spacing: -0.05vmax;
  font-family: "proxima_nova_rgbold", Varela, sans-serif;
  font-size: 2vmax;
  font-weight: bolder;

  text-shadow: 2px 2px 4px #0000000d;
  outline: none;
  cursor: pointer;
  padding-left: 5vmax;
  padding-right: 5vmax;
  padding-top: 2vmax;
  padding-bottom: 2vmax;
  border-radius: 60px;
  text-decoration: none;
  border-top: none;
  background-color: #f6d365;
  color: #fff4e4 !important;
  border: 3px solid #f6d365;
  margin: 1vmax;
  display: inline-block;
}

#start:hover {
  background: #ff57bb;
  border: 3px solid #ff57bb;
  color: white !important;
}

#file {
  border: none;
}

#progress {
  margin-top: -70px;
  width: 275px;
}

#upload {
  margin-bottom: -60px;
  align-self: center;
  width: 275px;
  letter-spacing: -0.01vmax;
  font-family: "proxima_nova_rgbold", Varela, sans-serif;

  font-weight: bolder;
  font-size: 14px;
  text-shadow: 2px 2px 4px #0000000d;
  outline: none;
  cursor: pointer;
  padding-left: 5vmax;
  padding-right: 5vmax;
  padding-top: 0.5vmax;
  padding-bottom: 0.5vmax;
  border-radius: 60px;
  text-decoration: none;
  border-top: none;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border: 0.125px solid transparent;
  color: white !important;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  display: inline-block;
}

#upload:hover {
  background-image: linear-gradient(120deg, #fda085 0%, #f6d365 100%);
}
#image {
  margin-top: -2px;
  margin-left: 100px;
  margin-right: auto;
}

.rectangle {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "proxima_nova_rgregular", Varela, sans-serif;
  font-size: 0.875em;
  width: 93%;
  max-width: 195%;
  height: 25px;
  padding-left: 10px;
  padding: 10px;
  border-radius: 0px;
  /* padding: 0px 0px 0px 15px; */
  margin-top: -1px;
  margin-bottom: -34.5px;
  background: transparent;
  outline: none;
  color: #565c73;

  border: solid 1px #a0acbd;
  /* border-bottom: none; */

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#CollectionName {
  text-align: left;
  padding: 15px;
  color: #6efafb;
}

#ListItemHeaderGroup {
  margin-top: -12px;
  border-top: 1px solid #05b1d3;
  padding-top: 5px;
  color: white;
}

#about {
  text-align: left;
  padding: 15px;
  color: #fff4e4;
}

#ListItem {
  background-color: #0091ad;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

#ListImage {
  border-radius: 10px;
  border: 5px solid #05b1d3;
}
