@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

body {
  background-size: cover;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  /* background-color: #edf0f5 !important; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Varela", sans-serif;
}

#addItemForm {
  vertical-align: middle;
  min-width: 250px;
  max-width: 400px;
  padding: 0px 20px 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 10%;
  border-radius: 10px;

  align-items: center;
  background-color: #f8f9fc !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

input::placeholder,
textarea::placeholder {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #8c98a8;
  font-size: 1.3em;
  border-radius: 0px;
  width: 70%;
}

/* on focus placeholder */

input:focus::placeholder,
textarea:focus::placeholder {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #0a0d13;
  font-size: 1.3em;
  border-radius: 0px;
}

input:focus:focus::placeholder,
textarea:focus:focus::placeholder {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #8c98a8;
  border-radius: 0px;
}

input:not([type="checkbox"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "varela", sans-serif;
  font-size: 0.875em;
  width: 93%;
  max-width: 195%;
  height: 100%;
  padding-left: 10px;
  padding: 10px;
  border-radius: 0px;
  /* padding: 0px 0px 0px 15px; */

  background: transparent;
  outline: none;
  color: #565c73;

  border: solid 1px #a0acbd;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input:focus {
  border-radius: 0px;
  background: #c5cdd9;
  color: #0a0d13;
}
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 2.5px;
  margin-left: 0px;
  /* width: 95%; */
  max-width: 95%;
  min-width: 95%;
  height: 110px;
  max-height: 110px;
  visibility: visible !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  resize: none;
  background: transparent;
  outline: none;

  color: #565c73;
  font-family: "Varela", sans-serif;
  font-size: 0.875em;

  border: solid 1px #a0acbd;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
  background: #c5cdd9;
  color: #0a0d13;
}
#nameInput {
  border: solid 1px #a0acbd;
  margin-top: 10px;
  border-radius: 0px;

  margin-bottom: 15px;
  line-height: 0.875em;
  padding-top: 10px;
  padding-bottom: 5px;

  height: 0.875em;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: "Varela", sans-serif;
  font-size: large;
  overflow: auto;
  resize: none;
}

h5 {
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: -40px;
  padding: 1em;
  /* 
  border: solid 1px #a0acbd; */
}

#headerGroup {
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  text-shadow: 2px 2px 4px #00000020;
  font-family: "Lato", sans-serif;
  margin-left: -20px;
  margin-right: auto;
  margin-top: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  min-width: 250px;
  max-width: 400px;
  align-items: center;
  width: 110%;
  padding: 15px 20px 10px 20px;
  /* border: solid 1px transparent; */
  border-top: none;
  border-bottom: none;
  /* background-color: #3d2f9d; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

#headerText {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: 4px;
  color: white;
  text-shadow: 2px 2px 4px #00000020;
  font-family: "Lato", sans-serif;
  border-radius: 0px;
}

#submitButton {
  font-family: "varela", sans-serif;
  font-size: large;
  font-weight: 1000;
  color: #b3aca7;
  text-shadow: 2px 2px 4px #00000020;
  outline: none;
  cursor: pointer;
  padding: 0.5em;
  /* margin-bottom: 0.5em; */
  margin-left: -5px;
  margin-top: 20px;
  border-radius: 20px;
  /* width: 200px; */

  border-top: none;

  color: #ffffff !important;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  border: 0.125px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  display: inline-block;
  transition: all 0.4s ease 0s;
}

#submitButton:hover {
  padding: 0.5em;
  /* margin-bottom: 1em;
  margin-left: 10px;
  margin-top: 5px; */
  color: #ffffff !important;
  text-shadow: 2px 2px 4px #00000020;
  font-weight: 1000;
  background-image: linear-gradient(-60deg, #66a6ff, #66ebf5) !important;
  border: 5px solid #66ebf5;
  transition: all 0.4s ease 0s;
}
